[submodule "licensing-service"]
	path = licensing-service
	url = git@github.com:Siiir/java-licensing-service.git
[submodule "ChatServer"]
	path = ChatServer
	url = git@github.com:Siiir/java-ChatServer.git
[submodule "CanvEngine"]
	path = CanvEngine
	url = git@github.com:Siiir/CanvEngine.git
